.last-count-wrapper
  align-items: center
  .last-count
    color: #1890FF
    font-size: 100px
    font-weight: bold
  .last-count-text
    flex: 1
    padding-left: 75px
.p-sub-title
  color: #1890FF
  font-size: 30px
  font-weight: bold
  border-bottom: 3px solid #d7e1ea
  padding: 20px 0
  position: relative
  margin: 60px 0 20px 0
  &:after
    content: ''
    display: block
    position: absolute
    height: 3px
    width: 100px
    margin-top: 20px
    background: #1890FF
.profile-panel
  margin-top: 57px
  padding: 47px 94px
  border-radius: 10px
  .profile-item
    color: #333333
    font-size: 18px
    & + .profile-item
      margin-top: 50px
    .modify
      font-size: 16px
      cursor: pointer

.history-item
  padding: 50px 0 50px 90px
  margin-top: 68px
  align-items: center
  & + .history-item
    margin-top: 40px

.comment-form
  input
    margin-top: 15px
  .content-textarea
    margin-top: 15px
    width: 100%
    border-radius: 10px
    padding-left: 30px
    background: transparent
    border: 2px solid transparent
    outline: none
    font-size: 22px
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    &:focus
      border: 2px solid #2097FF
  .oc-btn-primary
    margin: 50px 0 80px
