.signup-content
  height: 665px
  width: 440px
  margin: 0 auto
  background: #FFF
  border-radius: 10px
.title
  font-size: 28px
.signup-input
  width: 360px
  height: 60px
  line-height: 60px
  color: #2C3137
  font-size: 16px
  padding-left: 20px
  border-radius: 30px
  background: #F1F2F2
  border: none
  outline: none
  &:focus
    border: 2px solid #2097FF
    background: #FFF
  & + .signup-input
    margin-top: 20px

.submit-btn
  width: 360px
  margin: 20px auto

.form-content
  width: min-content
  margin: 0 auto