.nav-wrapper
  color: #FFF
  padding: 20px 100px
  ul
    li
      float: left
      list-style: none
      margin-left: 40px
      a
        color: #FFF
  background-image: linear-gradient(to right, #1890FF, #4ABBFF);
