html, body
  font-family: 'Source Han Sans SC'
.container
  margin: 0 auto
  width: 1168px

.flex
  display: flex

.flex-between
  justify-content: space-between
  align-items: center
h1
  font-size: 60px
  font-weight: 400

h3
  font-size: 36px
  font-weight: 400

.title 
  font-size: 40px
  padding: 30px

.text-center
  text-align: center

.gray-text
  color: #9C9C9C

#loading
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(255, 255, 255, .7)
  display: flex
  align-items: center
  justify-content: center
  z-index: 9999
  font-size: 24px

.oc-shadow
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
.oc-btn
  background: #000
  width: 160px
  height: 60px
  line-height: 60px
  text-align: center
  border-radius: 30px
  border: none
  outline: none
  font-size: 20px
  cursor: pointer
  display: block
